.board {
/*	background: black;*/
/*	color: white;*/
	height: min(90vw, 90vh);
	width: min(90vw, 90vh);
	border-spacing: 0;
	display: flex;
	flex-direction: column;
}

.board tr {
	display: flex;
	flex: 1;
}

.board td	{
	display: block;
	background: black;
	border: 1px solid lightgray;
/*	border-radius: 50%;*/
	box-sizing: border-box;
	flex: 1;
}

.board td.visited {
	background: white;
	border-color: transparent;
}

.board td.with-player {
	background: blue;
	border-radius: 50%;
}

.board td.with-goal {
	background: green;
}
