body {
	--bg: #fdfdf3;
	--board: #90bbda;
	--goal: #23897b;
	--player: #453e84;
	--square: min(60vh, 90vw);
	background-color: var(--bg);
	text-align: center;
	font-family: monospace;
}
.content {
	width: min-content;
	margin: 0 auto;
}

.btn {
	appearance: none;
  background-color: var(--player);
  color: var(--bg);
  padding: 0.5rem;
  font-size: 1.25rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  border: none;
}

.game-state {
	background-color: var(--board);
	justify-content: center;
	font-size: 1.5rem;
	padding: 2rem;
	box-sizing: border-box;
	gap: 1rem;
}

.scoreboard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: 1.5rem;
	justify-content: space-between;
}

.scoreboard > div {
	border-bottom: 0.5rem solid;
}

.scoreboard	.level {
	border-color: var(--board);
}

.scoreboard .moveCount {
	border-color: var(--player);
}

.scoreboard .goalCount {
	border-color: var(--goal);
}

.quit {
	width: 100%;
	margin-top: 1rem;
}

summary {
	margin-bottom: 1rem;
	font-size: 1.25rem;
}

.ctrl-container {
	margin: 1rem auto;
	display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.ctrl-container .up-down {
	display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ctrl {
	padding: 1.25rem;
}

.arrow {
	display: block;
	border-top: 4px solid currentColor;
	border-left: 4px solid currentColor;
	width: 1rem;
	height: 1rem;
}

[arrow-type=Left] .arrow {
	transform: rotate(-45deg) translate(0.25rem, 0.25rem);
}

[arrow-type=Up] .arrow {
	transform: rotate(45deg) translate(0.25rem, 0.25rem);
}

[arrow-type=Right] .arrow {
	transform: rotate(135deg) translate(0.25rem, 0.25rem);
}

[arrow-type=Down] .arrow {
	transform: rotate(-135deg) translate(0.25rem, 0.25rem);
}

.board.hidden, .hidden {
	display: none;
}

.board {
	height: var(--square);
	width: var(--square);
	border-spacing: 0;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.board tr {
	display: flex;
	flex: 1;
}

.board td	{
	display: block;
	background: var(--board);
	border: 1px solid var(--bg);
/*	border-radius: 50%;*/
	box-sizing: border-box;
	flex: 1;
}

.board td.visited {
	background: transparent;
	border-color: transparent;
}

.board td.with-player {
	background: var(--player);
	border-radius: 50%;
}

.board td.with-goal {
	background: var(--goal);
}
